<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="TypeClassMapperConfigurationSection" type="utility.TypeClassMapperConfigurationSection, TypeClassMapper" />
      <section name="sectionB" type="utility.TypeClassMapperConfigurationSection, TypeClassMapper" />
  </configSections>

  <TypeClassMapperConfigurationSection>

    <Mappings>
      <Mapping Type="lib1.ISource" Class="lib2.Source, lib2"/>
      <Mapping Type="lib1.ITarget" Class="lib2.Target, lib2"/>
    </Mappings>

    <Scopes>
      <Scope Name="A">
        <Mappings>
          <Mapping Type="lib1.ISource" Class="lib2.Source, lib2"/>
          <Mapping Type="lib1.ITarget" Class="lib2.Target, lib2"/>
        </Mappings>
      </Scope>
      <Scope Name="B">
        <Mappings>
          <Mapping Type="lib1.ISource" Class="lib3.Source, lib3"/>
          <Mapping Type="lib1.ITarget" Class="lib3.Target, lib3"/>
        </Mappings>
      </Scope>
    </Scopes>

  </TypeClassMapperConfigurationSection>

  <sectionB>

    <Mappings>
          <Mapping Type="lib1.ISource" Class="lib3.Source, lib3"/>
          <Mapping Type="lib1.ITarget" Class="lib3.Target, lib3"/>
    </Mappings>

  </sectionB>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>