<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TypeClassMapperConfigurationSection" type="nutility.TypeClassMapperConfigurationSection, TypeClassMapper" />
  </configSections>

  <TypeClassMapperConfigurationSection>
    <Mappings>
      <Mapping Type="app1.IHandler" Class="impl.Handler, app1"/>
    </Mappings>
  </TypeClassMapperConfigurationSection>
<!--
For MSTest on .NET Core
https://stackoverflow.com/questions/47752271/app-config-not-beeing-loaded-in-net-core-mstests-project/47753580
https://github.com/Microsoft/testfx/issues/348
-->
  <appSettings>
    <add key="A" value="vX"/>
  </appSettings>
</configuration>