<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TypeClassMapperConfigurationSection" type="nutility.TypeClassMapperConfigurationSection, TypeClassMapper" />
  </configSections>

  <TypeClassMapperConfigurationSection>
    <Mappings>
      <Mapping Type="app1.IHandler" Class="impl.Handler, app1"/>
    </Mappings>
  </TypeClassMapperConfigurationSection>

    <appSettings>
    <add key="A" value="vX"/>
  </appSettings>
</configuration>