<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TypeClassMapperConfigurationSection" type="utility.TypeClassMapperConfigurationSection, TypeClassMapper" />
    <section name="sectionB" type="utility.TypeClassMapperConfigurationSection, TypeClassMapper" />
  </configSections>

  <TypeClassMapperConfigurationSection>

    <Mappings>
      <Mapping Type="app1.ISource" Class="module1.Source, TypeClassMapperSpec"/>
    </Mappings>

    <Scopes>
      <Scope Name="A">
        <Mappings>
          <Mapping Type="app1.ISource" Class="bad.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="B">
        <Mappings>
          <Mapping Type="bad.ISource" Class="module1.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="C">
        <Mappings>
          <Mapping Type="app1.ISource" Class="bad.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="D">
        <Mappings>
          <Mapping Type="app1.ISource" Class="module2.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="E">
        <Mappings>
          <Mapping Type="app1.ISource" Class="module3.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
    </Scopes>

  </TypeClassMapperConfigurationSection>

  <sectionB>

    <Mappings>
      <Mapping Type="app1.ISource" Class="module1.Source, TypeClassMapperSpec"/>
    </Mappings>

    <Scopes>
      <Scope Name="A">
        <Mappings>
          <Mapping Type="app1.ISource" Class="bad.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="B">
        <Mappings>
          <Mapping Type="bad.ISource" Class="module1.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="C">
        <Mappings>
          <Mapping Type="app1.ISource" Class="bad.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="D">
        <Mappings>
          <Mapping Type="app1.ISource" Class="module2.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
      <Scope Name="E">
        <Mappings>
          <Mapping Type="app1.ISource" Class="module3.Source, TypeClassMapperSpec"/>
        </Mappings>
      </Scope>
    </Scopes>

  </sectionB>

</configuration>